*/felix-cache/
*/target/
eclipse/run/
*/.DS_Store/
**/.settings/
**/generated/
**/bin/
**/bin_test/
**/*.iml
**/*.ipr
**/*.iws
*.ipr
*.iml
*.iws
.idea/
.metadata/
.DS_Store?
ehthumbs.db
Thumbs.db
Scratchpad
/.gradle/
/reports/
/generated/
