*/felix-cache/
*/target/
eclipse/run/
*/.DS_Store/
**/.project
**/.classpath
**/.settings/
**/*.iml
**/*.ipr
**/*.iws
*.ipr
*.iml
*.iws
.idea/
.metadata/
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
Scratchpad
