# Generic
ols.current.color.scheme.enum = Default
ols.mousewheel.zoom.default.boolean = false
ols.snap.cursors.default.boolean = false
ols.show.tool.windows.default.boolean = false
ols.disble.sloppy.scope.painting.boolean = false 
ols.trigger.auto.center.boolean = true
ols.background.color = 1E2126
ols.shadow.color = 151620
ols.channelgroup1.default.color = 92d4ca
ols.channelgroup2.default.color = 77c474
ols.channelgroup3.default.color = 92d4ca
ols.channelgroup4.default.color = 77c474
ols.signal.element.spacer.height = 4
ols.signalgroup.height = 20
ols.digitalsignal.height = 22
ols.channel.height = 36
ols.groupsummary.height = 30
ols.groupsummary.default.visible.boolean = false
ols.analogscope.height = 96
ols.analogscope.default.visible.boolean = false
# ChannelLabelsView
ols.channellabels.minimal.width = 60
ols.channellabels.background.color = ${ols.background.color}
ols.channellabels.gutter.width = 15
ols.channellabels.arc.width = 12
ols.channellabels.label.padding = 15
ols.channellabels.label.foreground.color = e6e6e6
ols.channellabels.grouplabel.foreground.color = 838383
ols.channellabels.label.gradient.1.color = 3d3f4b
ols.channellabels.label.gradient.2.color = 3c404b
ols.channellabels.label.font = %{Label.font} bold
ols.channellabels.show.channel.index.boolean = false
ols.channellabels.index.font = %{Label.font} 0.8em
ols.channellabels.index.color = ${ols.channellabels.label.foreground.color}
ols.channellabels.shadow.boolean = true
ols.channellabels.shadow.color = ${ols.shadow.color}
# CornerView
ols.corner.background.color = ${ols.background.color}
# GhostGlassPane
ols.glasspane.foreground.color = FFFF00
ols.glasspane.alpha.value = 70
# SignalView
ols.signal.background.color = ${ols.background.color}
ols.signal.trigger.color = FFFFFF
ols.signal.arrow.color = FFFFFF
ols.signal.alignment.enum = CENTER
ols.signal.groupsummary.text.font = %{Label.font} 0.8em
ols.signal.groupsummary.bar.color = 868686
ols.signal.groupsummary.render.aa.boolean = false
ols.signal.groupsummary.padding = 2
ols.signal.analogscope.render.aa.boolean = false
ols.signal.annotation.render.aa.boolean = false
ols.signal.annotation.color = FFFFFF
ols.signal.annotation.font = %{Label.font} 0.9em
ols.signal.annotation.alignment.enum = CENTER
ols.signal.annotation.altstyle.boolean = true
ols.signal.annotation.alpha.value = 80
# TimeLineView
ols.timeline.background.color = ${ols.background.color}
ols.timeline.height = 38
ols.timeline.cursor.font = %{Label.font} 0.8em
ols.timeline.text.color = e6e6e6
ols.timeline.tick.height = 4
ols.timeline.tick.color = 868686
ols.timeline.majortick.height = 12
ols.timeline.majortick.label.font = %{Label.font} 1.0em
ols.timeline.majortick.color = C0C0C0
ols.timeline.minortick.visible.boolean = true
ols.timeline.minortick.height = 8
ols.timeline.minortick.label.font = %{Label.font} 0.8em
ols.timeline.minortick.color = C0C0C0
ols.timeline.text.shadow.boolean = true
ols.timeline.text.shadow.color = ${ols.shadow.color}
